@use '../../base/mixins' as m;
@use '../../base/variables' as v;
@use 'sass:color';

.barra {
    background-color: v.$azul;
    &__contenido {
        display: flex;
        flex-direction: column;

        @include m.contenedor;
        @include m.desktop {
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__logo {
        @include m.logo;
        @include m.texto-fluido(2rem, 3rem);
    }

}